DISCORD_WEBHOOK_HUSQVARNA_FE=https://discord.com/api/webhooks/ID/TOKEN
DISCORD_WEBHOOK_KTM_EXC=https://discord.com/api/webhooks/ID/TOKEN
DISCORD_WEBHOOK_AUTO24_HUSQVARNA_FE=https://discord.com/api/webhooks/ID/TOKEN
DISCORD_WEBHOOK_AUTO24_KTM_EXC=https://discord.com/api/webhooks/ID/TOKEN
DISCORD_WEBHOOK_MOTOTEHNIKA_HUSQVARNA_FE=https://discord.com/api/webhooks/ID/TOKEN
DISCORD_WEBHOOK_MOTOTEHNIKA_KTM_EXC=https://discord.com/api/webhooks/ID/TOKEN
DISCORD_WEBHOOK_AUTOPLIUS_HUSQVARNA_FE=https://discord.com/api/webhooks/ID/TOKEN
DISCORD_WEBHOOK_AUTOPLIUS_KTM_EXC=https://discord.com/api/webhooks/ID/TOKEN
DB_PATH=./data/scraper.db
